.todo_form {
    width: 350px;
    margin: 50px auto;
}

.todo_form input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.todo_form button {
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
