{% extends 'base.html' %}

{% block head %}
    <title>Todo list</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h2>Todo list</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Todo</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="">Update</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        </table>
    </div>
{%endblock %}
