{% extends 'base.html' %}

{% block head %}
    <title>Todo list</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 offset-3">
                <h3>Todo list</h3>
                <form action="/" method="POST">
                    <div class="form-group">
                        <label for="tilte">Enter todo name</label>
                        <input type="text" name="tilte" id="tilte" class="form-control" placeholder="Enter todo title">
                    </div>
                    <button class="btn btn-sucess btn-sm"type="submit">Add todo</button>
                </form>
                <table class="table table-bordered table-strip mt-3">
                   <thead>
                        <tr>
                            <th>Task</th>
                            <th>Todo</th>
                            <th>Actions</th>
                        </tr>
                   </thead>
                    <tbody>
                        <tr>
                            {% for todo in todo_obj %}
                            <td>{{ todo.content }}</td>
                            <td>{{ todo.completed }}</td>
                            <td>
                                <a href="">Update</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{%endblock %}
